html { 
  font-size: 62.5%;
} 

body {
  background: url("http://res.cloudinary.com/daaz3m5i2/image/upload/v1520735928/bouquet/background-bouquet.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 60%;
}

.hidden {
	display: none;
}

.disabled {
	disabled: disabled;
}

.error-bar {
  background-color: #ff7f7f;
  width: 100%;
  padding: 15px 5px 15px 5px;
  text-align: center;
}

#home-body-div {
  width: 100%;
  margin-top: 5%;
  padding: 1rem 0 0 0;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  vertical-align: middle;
}

#title-text {
  font-size: 4.5rem;
}

#home-main-div {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

#home-main-text {
  font-size: 1.5rem;
}

.home-button-div {
  display: inline-block;
  margin: 0.5rem;
}

.home-btn {
  width: 8rem;
}

#home-footer-div {
  margin: 2rem auto;
  text-align: center;
}

#login-body-wrapper {
  width: 80%;
  margin: 15% auto;
  padding: 1rem;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  vertical-align: middle;
}

.other-login-option {
  margin-top: 1rem;
}

#outer-build-box {
  width: 90%;
  max-width: 87rem;
  min-width: 53rem;
  margin: 1rem auto;
  border: 4px solid black;
  border-radius: 5px;
  background-color: white;
  height: 55rem;
  position: relative;
}

#build-box-header {
  width: 100%;
  text-align: center;
}

.build-selector {
  display: inline-block;
  width: 29%;
  height: 100%;
  background-color: #d3d3d3;
  color: gray;
  border-top: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.active-selector {
  background-color: #BCED91;
  color: black;
}

.inactive-selector {
  background-color: #9CBA7F;
  color: black;
}

#build-box-main {
  overflow: auto;
  height: 94%;
  padding: 0.5rem;
}

.price-display {
  display: inline-block;
  width: 13%;
  height: 100%;
  background-color: #9CBA7F;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.flower-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.flower-item {
  border: 1px solid black;
  margin: 1rem;
  width: 15rem;
  box-shadow: 5px 10px 8px #888888;
}

.flower-img {
  margin: 1rem;
  height: 10rem;
}

.flower-price {
  margin-bottom: 0.5rem;
}

#flower-btn-div {
  margin-bottom: 1rem;
  height: 1.8rem;
}

.flower-btn {
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
  height: 100%;
}

.flower-num {
  display: inline-block;
  font-size: 1rem;
  width: 3rem;
  border: 1px solid black;
  height: 100%;
}

.flower-list {
  border: 1px solid black;
}

#finalize-container {
  display: flex;
}

.flower-list-title {
  font-size: 3rem;
}

.flower-list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: flex-start;
  border-top: 1px solid black;
  margin: 1rem;
}

.flower-list-img-div {
  width: 10%;
}

.flower-list-img {
  margin: 0.75rem;
  height: 5rem;
}

.flower-info-div {
  width: 100%;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.flower-list-name {
  float: left;
  display: inline-block;
}

.flower-list-num {
  float: left;
  margin-left: 0.5rem;
  display: inline-block;
}

.flower-list-price {
  float: right;
  margin-left: 2rem;
}

#finalize-footer {
  width: 100%;
  margin: 1rem;
}

.finalize-btn {
  width: 10rem;
  margin: 1rem;
}

#total-price {
  float: right;
  font-size: 1.5rem;
  margin-right: 2rem;
}

#invis-total-price {
  float: left;
  color: white;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.cart-item-wrapper {
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
}

.cart-flowers {
  display: flex;
  width: 75%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 1rem auto;
}

.cart-item-header {
  font-size: 3rem;
}

.cart-img-div {
}

.cart-image {
  height: 5rem;
}

.cart-flower-info {
}

.cart-item {
  margin: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.3rem;
  width: 12rem;
}

#address-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  border-top: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

#shipping-info {
  margin-right: 1rem;
}

.billing-sub-info {
  display: inline-block;
  margin-right: 0.5rem;
}

.edit-btn {
  display: block;
  margin: 0 auto;
}

#inv-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.inv-item {
  margin: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.3rem;
  width: 12rem;
}

.inv-title {
  font-size: 2rem;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
